*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono";
}

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-color: bisque;
}

.navbar {
    overflow: hidden;
    background-color: black;
    height: 75px;
}

.navbar a {
    float: left;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    color: #cc610f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(0, 0, 0);
    background-color: #cc610f;
    border: #cc610f;
    border-radius: 25px;
    opacity: 0.7;
}

#right-nav {
    float: right;
}

#left-nav {
    float: left;
    list-style-type: none;
    width: 800px;
    margin-left: 10px;
    margin-top: 5px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 4%;
    width: 600px;
    padding: 25px;
    background: rgba(246, 244, 244, 0.5);
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(70, 28, 21, 0.195);
}

.center h1, h2 {
    text-align: center;
    padding: 10px 0;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

.center1 {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.center2 {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

input[type="submit"] {
    margin: 4px;
    width: 100%;
    height: 50px;
    border: 2px solid;
    border-color: #9d3f0d;
    background: #ea862a;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #db7d25;
    border-width: 5px;
    transition: .2s;
}