*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: "IBM+Plex+Mono", Ubuntu;
  }
  .navbar {
    overflow: hidden;
    background-color: black;
    font-family: Tahoma, Geneva, sans-serif;
    background: rgba(0,0,0,0.5);
    height: 75px;
  }
  
  .navbar a {
    float: left;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    color: #d65311;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
      background-color: #5c1911;
      opacity: 0.7;
  }
  
  #right-nav{
      float: right;
      }
  
  #left-nav{
      float: left;
      list-style-type: none;
      width: 800px;
      margin-left: 10px;
  }
  .wrapper{
    width: 500px;
    height: 550px;
    padding: 25px;
    margin: 25px auto 0;
    background: rgba(246, 244, 244, 0.5);
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(70, 28, 21, 0.195);
  }
  .wrapper h2{
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  h4{
    padding-bottom: 5px;
  }
  .input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
  }
  .input-box{
    width: 100%;
    margin-right: 12px;
  }
  .name{
    padding: 14px 10px 14px 50px;
    width: 100%;
    border: 1px solid #db7d25;
    border-radius: 25px;
    background: none;
    outline: none;
    transition: 0.3s;
  }
  .name:focus{
    box-shadow: 0 0 2px 1px #db7d25;
    border: 1px solid #ea862a;
  }
  .radio{
    display: none;
  }
  .input-box label{
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
  }
  .input-box label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
  }
  .input-box label:last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .radio:checked + label{
    background-color: #ea862a;
    color: #fff;
    transition: 0.5s;
  }
  .input-box select{
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .input-box select:focus{
    background-color: #ea862a;
    color: #fff;
    text-align: center;
  }
  button{
    width: 100%;
    background: transparent;
    border: 1px solid;
    border-radius: 25px;
    background: #ea862a;
    color: #fff;
    padding: 15px;
    font-size: 16px;
  }
  button:hover{
    border-color: #ea862a;
    border-width: 1px;
    transition: .2s;
  }