* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(77, 114, 186, 0.872);
}

.header {
  background-color: #1f2937;
  color: #fff;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.dashboard-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-left: 12px; /* Increased margin-left value to move it more right */
}

.logo {
  width: 60px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}


.logout-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  background-color: red;
  padding: 6px;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #513b36;
}

.main {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-student-btn,
.check-fees-btn {
  display: inline-block;
  text-decoration: none;
  color: #333;
  margin: 10px;
  width: 150px;
  height: 150px;
  background-color: #FFFFF0;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.add-student-btn:hover,
.check-fees-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.btn-icon {
  font-size: 50px;
  margin: 20px;
}

.btn-text {
  font-size: 20px;
  text-align: center;
  color: #333;
  font-weight: 500; /* Updated font-weight to make it slightly bold */
   margin-top: -39px; /* Adjust the margin-top value to move the text upwards */