*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-image: url("bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "IBM Plex Mono", "Ubuntu";
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  background: rgba(246, 244, 244, 0.5);
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(70, 28, 21, 0.195);
}
.center h1{
  text-align: center;
  padding: 20px 0;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #9d3f0d;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #9d3f0d;
  transform: translateY(-50%);
  font-size: 16px;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #d6761c;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #954810;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 2px solid;
  border-color: #9d3f0d;
  background: #ea862a;
  border-radius: 25px;
  font-size: 18px;
  /*color: #e9f4fb;*/
  color: black;
  /*font-weight: 700;*/
  cursor: pointer;
  outline: none;
  font-family: "Ubuntu";
}
input[type="submit"]:hover{
  border-color: #ea862a;
  border-width: 5px;
  transition: .2s;
}